.DS_Store
*.sql
.history
*/dist
**/dist
node_modules/
**/node_modules
.vite-ssg-temp
components.d.ts
.pnpm*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc
