* {
  margin: 0;
  padding: 0;
}

html {
  /* background: #1e1a20; */
}
.webgl {
  position: fixed !important;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "Segoe UI";
  /* font-family: var(--prism-font-family); */
  /* color: #ffeded; */
  text-transform: uppercase;
  font-size: 64px;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.dd {
  font-weight: 900;
}

.accent {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
